* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

#anchorOne,
#anchorTwo {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 80px;
  left: 0;
  /* z-index: 111; */
}

#anchorTwo {
  top: calc(100vh - 2px);
}

#navbar {
  height: 80px;
  width: 100vw;
  background-color: rgba(95, 158, 160, 0.1);
  position: sticky;
  /* position: fixed; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* opacity: 0.1; */
}

.navbar__button {
  height: 40px;
  width: 80px;
  background-color: aquamarine;
  text-align: center;
}

/* .topmargin {
  height: 80px;
} */

.pagetest {
  width: 100%;
  padding-top: 80px;
}

.testdiv {
  height: calc(100vh - 80px);
  width: 100%;
  padding-top: 80px;
}

/* .testdivcont {
  height: 100vh;
  padding-top: 80px;
} */

.anchordiv {
  position: absolute;
  left: 0;
  top: -80px;
  background-color: blueviolet;
}

/* .one {
  background-color: bisque;
} */
.two {
  background-color: #14151630;
}
.three {
  background-color: darkgray;
}
.four {
  background-color: darkgoldenrod;
}

.overlaytest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlaytest:hover {
  opacity: 1;
}

.inside_overlay {
  width: 90%;
  height: 90%;
  color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.aButton {
  color: inherit;
  text-decoration: none;
  /* background-color: ; */
}

.aButton:visited,
.aButton:hover,
.aButton:active,
.aButton:focus {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}

/* Hover
Active
Focus */

.backgroundImage {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.bgImageTop {
  width: 100vw;
  height: 80px;
  background-color: burlywood;
}

.testbehindimage {
  width: 100vw;
  height: calc(100vh - 80px);
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.secTwo_upper,
.secTwo_middle,
.secTwo_bottom {
  height: calc(50% + 80px);
  width: 100%;
  background-color: burlywood;
}

.secTwo_upper {
  margin-top: -80px;
  padding-top: 80px;
}

.secTwo_bottom {
  height: 30%;
}

.secTwo_middle {
  height: 20%;
  background-color: rgba(255, 255, 255, 0);
}

.flipper {
  background-color: brown;
}

#card {
  perspective: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--flipped .card__inner {
  transform: rotateY(180deg);
}

#card,
.card__inner {
  position: relative;

  width: 80%;
  height: 90%;
}

.card__inner {
  transition: transform 0.25s ease-in-out;
  transform-origin: 50% 50%;

  transform-style: preserve-3d;
}

.card__back {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  color: #888;
  background-color: #fff;

  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.cardtestimage {
  height: 180px;
}

.tech_holder {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.techIcon {
  height: 30px;
}
